<div class="form">
  <div class="container">

    <div class="outer">
      <a routerLink='../reimbursement'>
        <button type="button">Add Reimbursement Request</button>
      </a>
      <a routerLink='../'>
        <button type="button">Logout</button>
      </a>
    </div>

    <br>
    <br>

    <div id="block_container">
      <label for="select">
        <b>Filter By:</b>
      </label>

      <div class="styled-select">
        <select id="select" (change)='setSort($event)'>
          <option value="pending">Pending</option>
          <option value="approved">Approved</option>
          <option value="denied">Denied</option>
          <option value="all">All</option>
        </select>
      </div>
    </div>

    <div class="outer">
      <button type="button" (click)='sendStat(2)'>Aprove</button>
      <button type="button" (click)='sendStat(3)'>Deny</button>
    </div>

    <label class="reimb" *ngFor="let reimb of subSet">
      <div class="reimbStyle">
        <input type="radio" (change)='setVal($event)' value="{{reimb}}"> {{ reimb }}
      </div>
      <br>
    </label>

  </div>

</div>