<!-- <form name="loginForm" action="http://localhost:8080/ERS/LoginServlet" method="post">  -->
<div class="form">
  <div class="imgcontainer">
    <img src="https://wperp.com/wp-content/uploads/edd/2016/11/Reimbursement.png" style="width:50%">
  </div>

  <div class="container">
    <label for="uname">
      <b>Username</b>
    </label>
    <input type="text" [(ngModel)]="username" placeholder="Enter Username" name="username" required>

    <br>
    <br>

    <label for="psw">
      <b>Password</b>
    </label>
    <input type="password" [(ngModel)]="password" placeholder="Enter Password" name="password" required>

    <br>
    <br>

    <div class="outer">
      <button type="button" (click)='sendLogin()'>Login</button>
    </div>

  </div>
</div>