<div class="form">
  <div class="imgcontainer">
    <img src="https://wperp.com/wp-content/uploads/edd/2016/11/Reimbursement.png" style="width:40%">
  </div>

  <div class="container">
    <label for="Amount">
      <b>Amount</b>
    </label>
    <input type="text" [(ngModel)]="amount" placeholder="Enter Amount" name="Amount" required>

    <label for="Description">
      <b>Description</b>
    </label>
    <input type="text" [(ngModel)]="desc" placeholder="Enter Description" name="Description" required>

    <div id="block_container">
      <label for="select">
        <b>Type:</b>
      </label>
      <div class="styled-select">
        <select name="select" [(ngModel)]="type" required>
          <option value="Lodging">Lodging</option>
          <option value="Travel">Travel</option>
          <option value="Food">Food</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <label for="fileupload">
        <b>Receipt:</b>
      </label>
      <input type="file" (change)='setFile($event)' name="fileupload" value="fileupload" id="fileupload"
        required>
    </div>


    <div class="outer">
      <button type="button" (click)='sendReimb()'>Submit Reimbursement Request</button>
    </div>

  </div>

</div>