/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("http://www.lettersmarket.com/uploads/lettersmarket/demo/background_gradient_basic/background_gradient_green_19/background_gradient_green_19_jpg_max.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    border: 3px solid #f1f1f1;
    display: block;
    width: 50%;
    height: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 200px;
}

label {
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
}

.reimb {
    font-size: 20px;
    margin: -150px;
}

.reimblabel {
    margin: -150px;
}

.together {
    float: none; /* if you had floats before? otherwise inline-block will behave differently */
    display: inline-block;
    vertical-align: middle;    
}

.reimbStyle {
    background: rgba(255, 255, 255, 0.082);
    border: 1px solid rgba(206, 181, 181, 0.329);
    border-radius: 1em;
    padding: 15px;
}

input[type=text], input[type=password], input[type=file] {
    width: 100%;
    padding: 12px 20px;
    background: rgba(255, 255, 255, 0.925);
    font-size: 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: rgba(20, 154, 118, 0.692);
    color: white;
    font-size: 15px;
    padding: 14px 20px;
    margin: 18px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
}

button:hover {
    background-color: rgba(20, 154, 118, 0.486);
}

.outer {
    white-space: nowrap;
    width:100%;
    text-align: center;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.imgcontainer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
}

.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   background: rgba(255, 255, 255, 0.158);
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}

.styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(http://1a9sbh3qgmed25n0ex2q0q4z-wpengine.netdna-ssl.com/wp-content/uploads/2011/05/down_arrow_select.jpg) no-repeat right #ddd;
   border: 1px solid rgb(151, 151, 151);
   margin-right: 100px;
}

#block_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
}